[MAIN]

load-plugins=pylint_pydantic

# Specify a score threshold under which the program will exit with error.
fail-under=10

# Files or directories matching the regular expression patterns are skipped.
#ignore-patterns=^\.#

# When enabled, pylint would attempt to guess common misconfiguration and emit
# user-friendly hints instead of false-positive error messages.
suggestion-mode=yes


[BASIC]

good-names=i,j,k,_,db


[DESIGN]

# List of regular expressions of class ancestor names to ignore when counting
# public methods (see R0903)
exclude-too-few-public-methods=

# Maximum number of arguments for function / method.
max-args=8

# Maximum number of attributes for a class (see R0902).
#max-attributes=7

# Maximum number of boolean expressions in an if statement (see R0916).
#max-bool-expr=5

# Maximum number of branch for function / method body.
#max-branches=12

# Maximum number of locals for function / method body.
#max-locals=15

# Maximum number of parents for a class (see R0901).
#max-parents=7

# Maximum number of public methods for a class (see R0904).
#max-public-methods=20

# Maximum number of return / yield for function / method body.
#max-returns=6

# Maximum number of statements in function / method body.
#max-statements=50

# Minimum number of public methods for a class (see R0903).
#min-public-methods=2


[EXCEPTIONS]

# Exceptions that will emit a warning when caught.
#overgeneral-exceptions=builtins.BaseException,builtins.Exception


[FORMAT]

# Regexp for a line that is allowed to be longer than the limit.
#ignore-long-lines=^\s*(# )?<?https?://\S+>?$

## Maximum number of characters on a single line.
#max-line-length=100

# Maximum number of lines in a module.
#max-module-lines=1000


[MESSAGES CONTROL]

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifiers separated by comma (,) or put this
# option multiple times (only on the command line, not in the configuration
# file where it should appear only once). You can also use "--disable=all" to
# disable everything first and then re-enable specific checks. For example, if
# you want to run only the similarities checker, you can use "--disable=all
# --enable=similarities". If you want to run only the classes checker, but have
# no Warning level messages displayed, use "--disable=all --enable=classes
# --disable=W".
#disable=raw-checker-failed,
#        bad-inline-option,
#        locally-disabled,
#        file-ignored,
#        suppressed-message,
#        useless-suppression,
#        deprecated-pragma,
#        use-symbolic-message-instead

# Disable inconsistent quote warning for now, because Black can't yet handle Python 3.12
#  nested same-type quotes in f-strings.
# [TODO] Remove ASAP
disable=inconsistent-quotes

[MISCELLANEOUS]

# List of note tags to take in consideration, separated by a comma.
notes=FIXME,
      XXX,
      TODO

# Regular expression of note tags to take in consideration.
# notes-rgx=


[STRING]

# This flag controls whether inconsistent-quotes generates a warning when the
# character used as a quote delimiter is used inconsistently within a module.
check-quote-consistency=yes

# This flag controls whether the implicit-str-concat should generate a warning
# on implicit string concatenation in sequences defined over several lines.
check-str-concat-over-line-jumps=yes


[VARIABLES]

# Tells whether unused global variables should be treated as a violation.
#allow-global-unused-variables=yes

# A regular expression matching the name of dummy variables (i.e. expected to
# not be used).
dummy-variables-rgx=_+$|(_[a-zA-Z0-9_]*[a-zA-Z0-9]+?$)|dummy|^ignored_|^unused_

# Argument names that match this expression will be ignored.
ignored-argument-names=_.*|^ignored_|^unused_
